<!-- <p>signup works!</p> -->
<div class="auth-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>

        <div class="form-group mt-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
            <span style="color: red;"
                *ngIf="name && name.touched && name.invalid"
            >Name is required. Min Length is 5</span>
        </div>

        <div class="form-group mt-3">
            <label for="name">Email Address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
            <span style="color: red;"
                *ngIf="email && email.touched && email.invalid"
            >Email is required. Min Length is 5</span>
        </div>

        <div class="form-group mt-3">
            <label for="name">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
            <span style="color: red;"
                *ngIf="password && password.touched && password.invalid"
            >Password is required. Min Length is 5</span>
        </div>

        <button type="submit" class="btn btn-block btn-primary mt-3">Sign up</button>
    </form>
</div>