<form [formGroup]="addForm" (ngSubmit)="addTodo()">
    <div class="input-group mb-3">
        <input 
            type="text"
            class="form-control mx-2"
            id="content"
            name="content"
            formControlName="content"
            placeholder="Enter todo ..."
        />

        <button 
            type="submit"
            class="btn btn-primary mx-2"
        >Add Todo</button>
    </div>
    <div *ngIf="content?.invalid && (content?.dirty || content?.touched)">
        <p *ngIf="content?.errors?.required">
            <i class="alert alert-danger">content is required</i>
        </p>
        
        <p *ngIf="content?.errors?.minlength">
            <i class="alert alert-warning">minimal char {{content?.errors?.minlength?.requiredLength}}</i>
        </p>
    </div>
</form>